<div id="banner">
    <div class="banner_content">
        <h1>File Cabinet</h1>
        <p>Your life's work. Organized, always</p>
        <button>
            <%= link_to "Enter", new_user_registration_path %>
        </button>
    </div>
</div>

<div id="callouts">
    <div class="callout_inner">
        <div class="wrapper">
            <div class="callout">
                <h2>Organize</h2>
                <p>Vestibulum ornare et ligula eget viverra. Nunc venenatis elit in ligula aliquet 
                dignissim sit amet egestas mi. Etiam nec malesuada felis. Fusce vel gravida diam. 
                Aliquam erat volutpat. Mauris congue tempus quam id aliquam. Donec non dui magna. 
                Donec ac mi arcu. Vivamus ornare, nisl nec congue malesuada, nunc dolor eleifend erat, 
                ac sodales ex turpis eu dui. Maecenas accumsan, ex at ultricies molestie, nisl nulla 
                porta mi, sed sodales ipsum risus sit amet ligula. Pellentesque arcu nibh, 
                aliquet eu felis nec, feugiat vulputate ipsum. Curabitur mattis leo ut augue auctor, 
                ut tristique nibh aliquet. Donec eu magna quis est viverra maximus tincidunt nec libero. 
                Aenean vestibulum vehicula est eget dignissim. In vel velit et metus ultricies malesuada
                at a ex. Maecenas et lacus mi.</p>
            </div>
        </div>
    </div>
</div>

<div id="bottom_cta">
    <div class="wrapper">
        <h2>Go Ahead!</h2>
        <br>
        <button>
            <%= link_to "Join Now", new_user_registration_path %>
        </button>
    </div>
</div>